@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}